@{
    ViewData["Title"] = "Добро пожаловать!";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>В нашем магазине делать закупки просто<a href="https://docs.microsoft.com/aspnet/core"> ну очень просто</a>.</p>
</div>
