@model GoodsStore.Models.Product

@{
    ViewData["Title"] = "Редактирование ";
}

<h1>Редактирование</h1>

<h4>Продукт</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NameProduct" class="control-label"></label>
                <input asp-for="NameProduct" class="form-control" />
                <span asp-validation-for="NameProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DropDownListFor(a => a.Category.Id, new SelectList(ViewBag.Cataloges, "Id", "NameCategory"), "Выберите каталог", new { @class = "form-control" })
            </div>
            <div class="form-group">
                @{
                    if (Model.Images != null)
                    {
                        foreach (var img in Model.Images)
                        {
                            <img src="data:image/png;base64, @img.Body" alt="@img.Name" class="img-fluid" width="80" />
                        }
                    }
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
